@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Simonetta', sans-serif;
}

body{
    overflow: hidden;

}
.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #403d70;
    color: #fff;
    padding: 5px 20px;
    height: 30px;
}
.title-bar span{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 3px 5px #000000;
    font-family: 'Kumbh Sans', sans-serif;
}
.title-bar .button-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.title-bar button{
    background-color: transparent;
    border: none;
    color: #6874b0;
    font-size: 25px;
    cursor: pointer;
    outline: none;
}
.title-bar .fa-window-minimize {
    transform: translateY(-35%);
}



.content{
    background-color: #576274;
    background: linear-gradient( to bottom left, rgb(107, 10, 107), rgb(66, 66, 172));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container{
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0,0.55);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    min-height: 400px;
}



.container i{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    margin: 7px  -10px;
    position: fixed;
    transform: translateY(-30%);

}

.container button{
    background-color:#403d70;
    color: #fff;
    font-size: 14px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;

}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    height: 10%;
    transform: translateY(-40%) translateX(5%);

}

.form-container{
    position: center;
    top: 0;
    height: 100%;
}
.remember-me{
    position: relative;
}
.remember-me input{
    align-content: start;
    position: relative;
    height: 25%;
    width: 15%;
    transform: translateX(-317%) translateY(-60%);
}
.remember-me p{
    font-size: 17px;
    text-align: center;
    height: 30%;
    width: 100%;
    color: #000000;
    position: relative;
    transform: translateY(-220%) translateX(-17%);
    font-weight: 400;
    font:small-caps;
    text-decoration: solid;
    text-shadow:0px 3px 5px #000000
}
h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    height: 30%;
    position: relative;
}
